/* Countdown Timer Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    color: #333;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: #333;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#timer {
    transition: color 0.3s ease-in-out;
}

#timer:hover {
    color: #ff4500; /* Change color on hover */
}
